@media (max-width: 640px) {
    h1 {
        font-size: 26px;
        line-height: 36px;
        color: #ffffff;
        font-weight: 700;
        font-family: "OpenSans-Regular";
        text-align: center;
    }

    h2 {
        font-size: 16px;
        color: #0f0d0e;
        font-weight: 700;
        font-family: "OpenSans-Regular";
    }


    body {
        display: flex;
        flex-direction: column;
    }

    .header {
        background-image: url(../images/banner-mobile.jpg);
    }

    .top-panel {
        margin-left: 20px;
        margin-right: 20px;
    }

    .header-logotype {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        padding-top: 300px;

    }

    .menu-list {
        display: none;
    }

    .slogan {
        position: relative;
        z-index: 2;
        max-width: 94%;
        padding: 150px 0 200px;
        margin: auto;
    }

    .trend {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .cards-trend {
        display: flex;
        flex-wrap: wrap;
    }

    .card-trend {
        /* сама карточка */
        display: flex;
        width: 100%;
        margin-bottom: 4px;
        position: relative;
        flex-direction: column-reverse;
    }

    .trend-tag-text {
        font-size: 14px;
        line-height: 37px;
        color: #b59f5b;
        font-weight: 700;
        font-family: "OpenSans-Bold";
    }

    .trend-name {
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        font-weight: 700;
        font-family: "OpenSans-Bold";
    }

    .trend-name:hover {
        color: #b59f5b;
    }



    .page-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .content {
        max-width: 100%;
    }

    .card {
        flex-direction: column;
        margin-top: 35px;
        border-bottom: 3px solid #eeeeee;
    }

    .card-picture-box {
        width: 100%;
        padding: 0;
    }

    .card-news {
        max-width: 100%;
        padding: 0;
        margin-top: 10px;
    }

    .card-tag-text {
        font-size: 14px;
    }

    .card-name {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .card-name:hover {
        color: #b59f5b;
    }


    .card-date {
        margin-bottom: 15px;
    }

    .card-author {
        margin-bottom: 15px;
    }

    .card-content {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        color: #0f0d0e;
        font-weight: 400;
        font-family: "OpenSans-Regular";
    }

    .other-content {
        display: flex;
        flex-direction: column;
        padding: 0;
        max-width: 100%;
        margin-left: 0;
        margin-top: 40px;
    }

    li.tags-list-item {
        margin-right: 6px;
        padding-left: 7px;
        padding-right: 7px;
    }

    .tags-list-title {
        font-size: 12px;
    }


    .our-products {
        flex-direction: column;
        margin-top: 15%;
    }

    .products {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .product {
        box-sizing: border-box;
        margin-bottom: 20%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 23px;
    }

    .product-img {
        width: 285px;
        height: 285px;
        background-color: #f4f7f6;
    }

    .product-content {
        max-width: 285px;
    }

    .product-content-text {
        outline-offset: 20px;
    }

    .product-title {
        font-size: 17px;
        line-height: 22px;
        font-weight: 700;
    }

    .socials {
        max-width: 100%;
    }

    .copyright {
        width: 100%;
        padding: 80px 0 80px 0px;
    }

    .popup-activ {
        position: absolute;
        overflow: scroll;
    }

    @media (orientation:landscape) {
        .header {
            background-image: url(../images/banner-bg-tablet.jpg);
            height: 100vh;
        }

        .trend {
            flex-wrap: wrap;
        }

        .cards-trend {
            flex-wrap: wrap;
        }

        .card-trend {
            /* сама карточка */
            width: 49%;
            height: auto;
            margin: 0.25%;
        }

        .our-products {
            margin-top: 15%;
            max-width: 100%;
        }

        .products {
            flex-wrap: wrap;
            flex-direction: row;
        }

        .product {
            max-width: 40%;
            box-sizing: border-box;
            margin-bottom: 10%;
            margin-left: 3%;
            margin-right: 5%;
        }

        .product:nth-child(2n+1) {
            margin-left: 7%;
        }

        .product-content-text {
            outline-offset: 20px;
        }

    }
}
